* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-hau.hau.lexc -text
/apertium-hau.hau.rlx -text
/apertium-hau.hau.twol -text
/apertium-hau.pc.in -text
/apertium-hau.post-hau.dix -text
/autogen.sh -text
/configure.ac -text
/hau.prob -text svneol=unset#unset
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
