* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-hau.hau.lexc -text
/apertium-hau.hau.rlx -text
/apertium-hau.hau.twol -text
/apertium-hau.pc -text
/apertium-hau.pc.in -text
/apertium-hau.post-hau.dix -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/hau.prob -text svneol=unset#unset
/install-sh -text
/missing -text
/modes.xml -text
